* {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-nav-bar {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.nav-search {
  display: flex;
}
.nav-search > * {
  margin: 0em 1em;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 5em;
}

.user-icon-down {
  width: 80px;
  height: 80px;
  border-radius: 5em;
}

.nav-bar input[type="text"] {
  float: left;
  border: none;
  border-radius: 1em;
  background-color: rgba(128, 128, 128, 0.171);
  padding: 2px;
  width: 50em;
  height: 2em;
}

.nav-top-right {
  display: flex;
  align-items: center;
  margin-right: 5em;
}

.nav-top-right > div {
  font-size: larger;
  font-weight: bold;
}

.nav-top-right > * {
  margin: 1em;
}

.search-container {
  align-self: center;
  margin-left: 2em;
}

.down-nav-bar {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1em;
}

.nav-down-left {
  display: flex;
  margin-left: 2em;
  align-items: center;
}

.nav-down-left .hi {
  margin: 0;
  font-weight: bold;
}

.nav-down-left .main-user-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-name-container {
  margin: 1em;
}

.nav-down-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.nav-down-right > button {
  cursor: pointer;
  color: white;
  background-color: rgb(45, 142, 252);
  padding: 1em;
  border: none;
  border-radius: 2em;
  height: 20x;
  width: 100px;
  font-weight: bold;
}

.nav-down-right button:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}

.not-bell {
  height: 30px;
  width: 30px;
}

.side-bar {
  background-color: rgb(45, 142, 252);
  color: white;
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 72px 1fr 1fr;
}

.side-bar-mid {
  margin-top: 2em;
}

.side-item {
  display: flex;
  align-items: center;
  margin: 1em;
}

.side-bar-icon-top {
  height: 50px;
  width: 50px;
  margin-right: 1em;
  margin-left: -0.2em;
}

.side-bar-icon {
  fill: white !important;
  height: 20px;
  width: 20px;
  margin-right: 1em;
  margin-left: 0.7em;
}

.side-bar div img:hover ~ button {
  border-bottom: 2px solid white;
}
.side-item button {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  font-size: 0.55cm;
  font-weight: 600;
}
.side-item button:hover {
  border-bottom: 2px solid white;
}

.side-item button:active {
  transform: scale(0.95);
}

.body {
  background-color: rgba(197, 197, 197, 0.322);
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.body-left {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 25fr;
  margin-left: 2em;
  margin-top: 1em;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  grid-auto-rows: 1fr;
  gap: 2rem 1rem;
}

.card {
  background-color: white;
  border-left: 10px solid yellow;
  border-radius: 1em;
  height: 150px;
  width: 400px;
  padding: 1em;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.card-action {
  display: flex;
  justify-content: flex-end;
}

.action-img,
.card-action {
  height: 2rem;
  gap: 1rem;
}

.action-img {
  cursor: pointer;
}

.action-img:active {
  transform: scale(0.97);
}

.card-text {
  padding: 1em 1m 0em;
  margin: 0;
  font-size: 1em;
}

.card-text p {
  margin-top: 1em;
  font-size: 1.2em;
}

.body-right {
  grid-column: 2/3;
  margin-top: 1em;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(auto-fill, 1fr));
  margin-right: 8em;
}

.box-right-content {
  padding: 30px;
  width: 300px;
  background-color: white;
  border-radius: 1em;
  margin-top: 1em;
}

.box-right-content-trending {
  background-color: white;
  padding: 30px;
  width: 300px;
  border-radius: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.box-macrocontent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
}

.box-minicontent {
  margin-left: 2em;
}

.box-minicontent span {
  color: rgb(155, 155, 155);
}

.announcement-border {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 1em 0em;
}

.other-user-icon {
  width: 50px;
  height: 50px;
}
