* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-nav-bar {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}

.nav-top-right {
  display: flex;
  align-items: center;
  margin-right: 5em;
}

.nav-top-right > * {
  margin: 1em;
}

.search-container {
  align-self: center;
  margin-left: 2em;
}

.down-nav-bar {
  grid-row: 2/3;
  display: flex;
}

.not-bell {
  height: 40px;
  width: 40px;
}

.side-bar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: aquamarine;
}

.nav-bar input[type="text"] {
  float: left;
  border: none;
  border-radius: 1em;
  background-color: grey;
  padding: 2px;
  width: 20em;
}

.body {
  background-color: antiquewhite;
  grid-column: 2/3;
}
